<div class="container">
        <div class="row">
                <div *ngIf="pacient">
                    <form #f="ngForm" (ngSubmit)="updatePacient(f)">
                        <div class="form-group">
                                <label for="pacientId">Pacient Id</label>
                                <input id="pacientId" name="pacientId" type="text" placeholder="Pacient Id..." class="form-control" [ngModel]="pacient.pacientId" />
                        </div>
                        <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input id="firstName" name="firstName" type="text" placeholder="First Name..." class="form-control" [ngModel]="pacient.firstName" />
                        </div>
                        <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input id="lastName" name="lastName" type="text" placeholder="Last Name..." class="form-control" [ngModel]="pacient.lastName"/>
                        </div>
                        <div class="form-group">
                                <label for="title">Title</label>
                                <input id="title" name="title" type="text" placeholder="Title..." class="form-control" [ngModel]="pacient.title"/>
                        </div>
                        <div class="form-group">
                                <label for="job">Job</label>
                                <input id="job" name="job" type="text" placeholder="Job..." class="form-control" [ngModel]="pacient.job"/>
                        </div>
                        <input class="btn btn-block" type="submit" value="Update" />
                    </form>
                </div>
            </div>
            
            <div *ngIf="medications.length > 0" style="text-align:center">
                        <div class="row">
                                        <ag-grid-angular #agGrid style="width: 800px; height: 300px;" class="ag-blue" 
                                                [gridOptions]="gridOptions" 
                                                [columnDefs]="columnDefs"
                                                [rowData]="medications"
                                                enableFilter
                                                enableSorting
                                                enableColResize>
                                        </ag-grid-angular>    
                                        <h1>This is {{componentName}}</h1>
                                        <h2>Pacient Id: {{pacientId}}</h2>
                                        <h3>Job: {{pacient?.job}}</h3>
                        </div>          
            </div>
</div>